<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">

<!-- 사용자 js -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    function editUser(button) {
      const userNo = button.getAttribute('data-user-no'); // 사용자 No
      const userId = button.getAttribute('data-user-id'); // 사용자 Id
      const newRole = document.getElementById('roleSelect-' + userNo).value; // role

      const header = $("meta[name='_csrf_header']").attr('content');
      const token = $("meta[name='_csrf']").attr('content');

      if (!token || !header) {
        console.error("CSRF token or header is undefined.");
        alert("CSRF 토큰 또는 헤더가 정의되지 않았습니다.");
        return; // 처리 중지
      }

      const url = `/dadog/admin/user/update/${userNo}/${newRole}`; // 경로에 userNo와 role 추가

      $.ajax({
        url: url,
        type: 'POST',
        contentType: 'application/json', // 전송 데이터의 형식 지정
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token); // CSRF 헤더 설정
        },
        cache: false, // 캐시 비활성화
        success: function (result, status) {
          alert("[" + userId + "]의 역할이 " + newRole + "으로 수정되었습니다.");
        },
        error: function (xhr, status, error) {
          if (xhr.status === 500) {
            alert("로그인 후 이용하세요");
            location.href = "/dadog/login"; // 로그인 페이지로 리디렉션
          } else if (xhr.status === 404) {
            alert("경로를 찾을 수 없습니다. 요청 경로를 확인하세요.");
          } else {
            alert(xhr.responseText);
          }
        }
      });
    }

    function page(pageNumber) {
      const url = '/dadog/admin/user/list/' + pageNumber;
      location.href = url; // 새로운 페이지로 이동
    }
  </script>
</th:block>

<div layout:fragment="mainContent" style="margin-top: 50px; padding-left: 20px; width: 80%;">
  <!-- CSRF 토큰 입력 필드 추가 -->
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">User No</th>
      <th scope="col">Email</th>
      <th scope="col">Telephone</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" th:each="user : ${userList}">
    <tr>
      <td th:text="${user.userId}" style="vertical-align: middle;"></td>
      <td th:text="${user.userEmail}" style="vertical-align: middle;"></td>
      <td th:text="${user.userTel}" style="vertical-align: middle;"></td>
      <td>
        <select class="form-select" th:id="'roleSelect-' + ${user.userNo}">
          <option value="ADMIN" th:selected="${user.role.name() == 'ADMIN'}">Admin</option>
          <option value="KAKAO" th:selected="${user.role.name() == 'KAKAO'}" th:if="${user.role.name() != 'USER'}">Kakao</option>
          <option value="USER" th:selected="${user.role.name() == 'USER'}" th:if="${user.role.name() != 'KAKAO'}">User</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary" th:data-user-no="${user.userNo}" th:data-user-id="${user.userId}" onclick="editUser(this)">수정</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- 페이지네이션 -->
  <div th:with="start=${(userList.number / maxPage) * maxPage + 1},
              end=${(userList.totalPages == 0 ? 1 :
              (start + (maxPage - 1) < userList.totalPages ? start + (maxPage - 1) :
              userList.totalPages))}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${userList.first} ? 'disabled'">
        <a th:onclick="'javascript: page(' + ${userList.number - 1} + ')'" aria-label="Previous"
           class="page-link">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
          th:classappend="${userList.number eq page - 1} ? 'active' : ''">
        <a th:onclick="'javascript: page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]
        </a>
      </li>
      <li class="page-item" th:classappend="${userList.last} ? 'disabled'">
        <a th:onclick="'javascript: page(' + ${userList.number + 1} + ')'" aria-label="Next"
           class="page-link">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</html>