<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">

<!-- 사용자 css -->
<th:block layout:fragment="css">
    <style>
        .modal-dialog {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            min-height: calc(100% - 1rem);
        }

        .my-3 .btn-warning, .my-3 .btn-danger, .my-3 .btn-success {
            width: 25%;
        }

        .btn-warning, .btn-warning:hover {
            color: white;
        }

        .card-application {
            position: relative;
            color: black; /* 카드 내 글자색을 검정색으로 설정 */
        }

        /* 상태에 따른 card-header 스타일 */
        .card-header.pending {
            background-color: #FFA500; /* 대기 */
            color: white;
            font-weight: bold;
        }

        .card-header.approved {
            background-color: #28a745; /* 승인 */
            color: white;
            font-weight: bold;
        }

        .card-header.rejected {
            background-color: #dc3545; /* 거절 */
            color: white;
            font-weight: bold;
        }
    </style>
</th:block>

<!-- 사용자 js -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function showApplicationDetail(appNo) {
            const url = '/dadog/admin/application/' + appNo;

            $.ajax({
                url: url,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                cache: false,
                success: function (result) {
                    // 모달에 데이터 설정
                    $('#modalAppNo').text(result.appNo);
                    $('#modalAdoptEdt').text(result.adoptEdt);
                    $('#modalAdoptCareNm').text(result.adoptCareNm);
                    $('#modalUserTel').text(result.userTel);
                    $('#modalUserEmail').text(result.userEmail);
                    $('#modalAdoptCareTel').text(result.adoptCareTel);

                    // 모달 표시
                    $('#applicationDetailModal').modal('show');
                },
                error: function (xhr) {
                    if (xhr.status == '401') {
                        alert("로그인 후 이용하세요");
                        location.href = "/dadog/login";
                    } else {
                        alert(xhr.responseText);
                    }
                }
            });
        }

        function updateAdoptWaitStatus(appNo, status) {
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            $.ajax({
                url: '/dadog/admin/application/update/' + appNo,
                type: 'POST',
                headers: {
                    [csrfHeader]: csrfToken, // CSRF 토큰 추가
                },
                contentType: "application/json",
                data: JSON.stringify({ status: status }), // 상태 데이터 전송
                success: function (result) {
                    alert("상태가 업데이트되었습니다.");
                    $('#applicationDetailModal').modal('hide');
                    location.reload(); // 페이지 새로고침
                },
                error: function (xhr) {
                    alert("상태 업데이트 실패: " + xhr.responseText);
                }
            });
        }

        function page(pageNumber) {
            const url = '/dadog/admin/application/list/' + pageNumber;
            location.href = url; // 새로운 페이지로 이동
        }

        function filterApplications(status) {
            const url = '/dadog/admin/application/list?status=' + status.toUpperCase();
            location.href = url; // 새로운 페이지로 이동
        }
    </script>
</th:block>

<div layout:fragment="mainContent" style="margin-top: 50px">
    <h1>입양 관리</h1>
    <div class="d-flex justify-content-center my-3">
        <button class="btn btn-warning mx-1" onclick="filterApplications('PENDING')">대기</button>
        <button class="btn btn-success mx-1" onclick="filterApplications('APPROVED')">승인</button>
        <button class="btn btn-danger mx-1" onclick="filterApplications('REJECTED')">거절</button>
    </div>
    <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card card-application" style="width: 30%; margin-bottom: 20px; cursor: pointer;"
                 th:each="app : ${applicationList.content}"
                 th:onclick="'showApplicationDetail(' + ${app.appNo} + ')'">
                <div class="card-header"
                     th:classappend="${app.adoptWaitStatus.name().toLowerCase()}">
                    <!-- 상태 텍스트 표시 -->
                    <h5 class="status-text" th:if="${app.adoptWaitStatus != null}"
                        th:text="${app.adoptWaitStatus.name() == 'PENDING' ? '대기' :
                              app.adoptWaitStatus.name() == 'APPROVED' ? '승인' : '미승인'}"></h5>
                </div>
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title" th:text="${app.adoptCareNm}"></h5>
                    <p class="card-text">
                        공고 종료일: <span th:text="${app.adoptEdt}"></span><br>
                        신청자 전화번호: <span th:text="${app.userTel}"></span><br>
                        신청자 이메일: <span th:text="${app.userEmail}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div th:with="start=${(applicationList.number / maxPage) * maxPage + 1},
              end=${(applicationList.totalPages == 0 ? 1 :
              (start + (maxPage - 1) < applicationList.totalPages ? start + (maxPage - 1) :
              applicationList.totalPages))}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${applicationList.first} ? 'disabled'">
                <a th:onclick="'javascript: page(' + ${applicationList.number - 1} + ')'" aria-label="Previous"
                   class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${applicationList.number eq page - 1} ? 'active' : ''">
                <a th:onclick="'javascript: page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]
                </a>
            </li>
            <li class="page-item" th:classappend="${applicationList.last} ? 'disabled'">
                <a th:onclick="'javascript: page(' + ${applicationList.number + 1} + ')'" aria-label="Next"
                   class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 모달 창 -->
    <div class="modal fade" id="applicationDetailModal" tabindex="-1" aria-labelledby="applicationDetailModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 60%; height: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applicationDetailModalLabel">상세 설명</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: auto;">
                    <p>신청 번호: <span id="modalAppNo"></span></p>
                    <p>공고 종료일: <span id="modalAdoptEdt"></span></p>
                    <p>보호소: <span id="modalAdoptCareNm"></span></p>
                    <p>신청자 전화번호: <span id="modalUserTel"></span></p>
                    <p>신청자 이메일: <span id="modalUserEmail"></span></p>
                    <p>보호소 전화번호: <span id="modalAdoptCareTel"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            onclick="updateAdoptWaitStatus($('#modalAppNo').text(), 'APPROVED')">승인</button>
                    <button type="button" class="btn btn-danger"
                            onclick="updateAdoptWaitStatus($('#modalAppNo').text(), 'REJECTED')">거절</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>