<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="listView">
  <h1>보호중 글 리스트</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">글번호</th>
      <th scope="col">제목</th>
      <th scope="col">견종</th>
      <th scope="col">발견장소</th>
      <th scope="col">발견날짜</th>
      <th scope="col">작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="protect : ${protectPage.getContent()}" th:onclick="'getProtect(' + ${protect.getProNo()} + ')'">
      <th scope="row" th:text="${protect.getProNo()}" id="lostNo"></th>
      <td th:text="${protect.getProTitle()}" class="truncate"></td>
      <td th:text="${protect.getProKind()}"></td>
      <td th:text="${protect.getProPlace()}" class="truncate"></td>
      <td th:text="${protect.getProDate()}"></td>
      <td th:text="${protect.getCreateTime()}"></td>
    </tr>
    </tbody>
  </table>
  <div th:with="start=${(protectPage.number / maxPage) * maxPage + 1},
            end=${(protectPage.totalPages == 0 ? 1 :
            (start + (maxPage - 1) < protectPage.totalPages ? start + (maxPage - 1):
            protectPage.totalPages))}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${protectPage.first} ? 'disabled d-none'">
        <a th:onclick="'javascript: page(' + ${protectPage.number -1} + ')'" aria-label="Previous" class="page-link">
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
      <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
          th:classappend="${protectPage.number eq page -1}? 'active' : ''">
        <a th:onclick="'javascript: page(' +${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]
        </a>
      </li>
      <li class="page-item" th:classappend="${protectPage.last} ? 'disabled d-none'">
        <a th:onclick="'javascript: page(' + ${protectPage.number +1} + ')'" aria-label="Next" class="page-link">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</html>

