<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
    <!-- 필요한 CSS 링크 추가 -->
</head>

<body style="padding: 0px;">
<div layout:fragment="mainContent">
    <h1>회원 정보</h1>
    <p>이름: <span th:text="${name}">이름</span></p>
    <p>이메일: <span th:text="${email}">이메일 주소</span></p>
    <a href="/dadog/myPage">마이페이지로 돌아가기</a>
</div>
</body>
</html>
