<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(() => {
            $('#searchBtn').on("click",(e) => {
                e.preventDefault();
                page(0)
            });
        });
        function page(page){
            const searchDescOrAsc = $("#searchDescOrAsc").val();
            const searchBy = $("#searchBy").val();
            const searchQuery = $("#searchQuery").val();

            location.href="/dadog/adopt/list/" + page + "?searchDescOrAsc=" + searchDescOrAsc
                + "&searchBy=" + searchBy + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        h1{
            text-align: center;
        }
        ul{
            text-decoration-line: none;
        }
        .card-img{
            height: 250px;
            object-fit: cover;
        }
        .truncate {
            white-space: nowrap; /* 텍스트를 한 줄로 표시 */
            overflow: hidden; /* 넘치는 부분 숨기기 */
            text-overflow: ellipsis; /* 넘치는 부분을 "..."으로 표시 */
        }
    </style>
</th:block>
<div layout:fragment="mainContent">
    <form th:action="@{'/dadog/adopt' + ${adoptList.number}}" role="form" method="get" th:object="${adoptList}">
        <div class="p-2 rounded">
            <div class="col-sm-8 pt-5 pb-2 mx-auto">
                <h1 class="display-5 medium mb-3 d-flex">입양하기</h1>
                <hr>
                <p class="fs-5 mt-5">※ 다독이다에는 항시 수십마리의 아이들이 보호되고 있으며 게시된 사진은 그 중 일부입니다. </p>
                <p class="fs-5 mb-5">※ 방문하여 아이들과 직접 교감하며 입양하시길 권장드리며, 입양시 무료 또는 약간의 책임비가 있을 수 있습니다.</p>
                <hr>
            </div>
                <div class="form-inline justify-content-center col-lg-8 mx-auto mb-5">
                    <div class="row justify-content-center border rounded border-dark-subtle">
                        <div class="col-auto mb-4 mt-4">
                            <select class="form-control border-dark" id="searchDescOrAsc" name="searchDescOrAsc">
                                <option value="asc" th:selected="${adoptSearchDTO.searchDescOrAsc == 'asc'}">오름차순</option>
                                <option value="desc" th:selected="${adoptSearchDTO.searchDescOrAsc == 'desc'}">내림차순</option>
                            </select>
                        </div>
                        <div class="col-auto mb-4 mt-4">
                            <select class="form-control border-dark" id="searchBy" style="width: auto;" name="searchBy" th:value="${adoptSearchDTO.searchBy}">
                                <option value="kind" th:selected="${adoptSearchDTO.searchBy == 'kind'}">견종</option>
                                <option value="careName" th:selected="${adoptSearchDTO.searchBy == 'careName'}">보호소</option>
                                <option value="careAddr" th:selected="${adoptSearchDTO.searchBy == 'careAddr'}">주소</option>
                            </select>
                        </div>
                        <div class="col-lg-6 mb-4 mt-4">
                            <input class="form-control border-dark" id="searchQuery" placeholder="검색어" name="searchQuery"  th:value="${adoptSearchDTO.searchQuery}">
                        </div>
                        <div class="col-auto mb-4 mt-4">
                            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
        <article class="mainBody">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            <div th:each="adopt : ${adoptList.getContent()}" class="mb-4">
                <div class="card">
                <a th:href="'/dadog/adopt/' + ${adopt.getAdoptNo()}" class="text-dark link-underline link-underline-opacity-0">
                <img th:src="${adopt.getAdoptImgUrl()}" th:alt="사진" class="card-img" width="270"/>
                    <div class="card-body">
                        <h5 class="card-title fw-bolder mb-4" th:text="${adopt.getAdoptKind()}"></h5>
                        <p th:text="'체중 : '+${adopt.getAdoptWeight()}" class="card-text mb-1"></p>
                        <p th:text="'보호소 : '+ ${adopt.getAdoptCareNm()}" class="card-text mb-1"></p>
                        <p th:text="'주소 : '+ ${adopt.getAdoptCareAddr()}" class="card-text truncate mb-1"></p>
                        <p th:text="'공고일 : ' +${adopt.getAdoptEdt()}" class="card-text"></p>
                    </div>
                </a>
            </div>
            </div>
            </div>
        </article>
        </div>
        <div th:with="start=${(adoptList.number / maxPage) * maxPage + 1},
            end=${(adoptList.totalPages == 0 ? 1 :
            (start + (maxPage - 1) < adoptList.totalPages ? start + (maxPage - 1):
            adoptList.totalPages))}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${adoptList.first} ? 'disabled d-none'">
                    <a th:onclick="'javascript: page(' + ${adoptList.number -1} + ')'" aria-label="Previous" class="page-link">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                    th:classappend="${adoptList.number eq page -1}? 'active' : ''">
                    <a th:onclick="'javascript: page(' +${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]
                    </a>
                </li>
                <li class="page-item" th:classappend="${adoptList.last} ? 'disabled d-none'">
                    <a th:onclick="'javascript: page(' + ${adoptList.number +1} + ')'" aria-label="Next" class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
</html>