<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
    <style>
        h1{
            text-align: center;
        }
        ul{
            text-decoration-line: none;
        }
        .mainBody{
            display: grid;
            grid-template-columns: repeat(5, minmax(300px, 1fr));
            margin: 0 auto;
        }
        .card{
            margin: 10px;
        }
    </style>
</th:block>
<div layout:fragment="mainContent">
    <form role="form" method="get">
        <article class="mainBody">
            <div th:if="${#lists.isEmpty(adoptList)}">
                <p>리스트가 비어 있습니다.</p>
            </div>
            <div th:each="adopt : ${adoptList}" class="card">
                    <img th:src="${adopt.getAdoptImgUrl()}" th:alt="사진" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${adopt.getAdoptKind()}"></h5>
                        <p th:text="${adopt.getAdoptWeight()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptCareNm()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptCareAddr()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptEdt()}" class="card-text"></p>
                    </div>
            </div>
        </article>
    </form>
</div>
</html>