<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(() => {
            $('#searchBtn').on("click",(e) => {
                e.preventDefault();
                page(0)
            });
        });
        function page(page){
            const searchDescOrAsc = $("#searchDescOrAsc").val();
            const searchBy = $("#searchBy").val();
            const searchQuery = $("#searchQuery").val();

            location.href="/dadog/adopt/list/" + page + "?searchDescOrAsc=" + searchDescOrAsc
                + "&searchBy=" + searchBy + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        h1{
            text-align: center;
        }
        ul{
            text-decoration-line: none;
        }
        .mainBody{
            display: grid;
            grid-template-columns: repeat(5, minmax(300px, 1fr));
            margin: 0 auto;
        }
        .card{
            margin: 10px;
        }

    </style>
</th:block>
<div layout:fragment="mainContent">
    <form th:action="@{'/dadog/adopt' + ${adoptList.number}}" role="form" method="get" th:object="${adoptList}">
        <article class="mainBody">
            <div th:each="adopt : ${adoptList.getContent()}" class="card">
                <a th:href="'/dadog/adopt/' + ${adoptList.number}" class="text-dark link-underline link-underline-opacity-0">
                <img th:src="${adopt.getAdoptImgUrl()}" th:alt="사진" class="card-img-top" width="300" height="300"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${adopt.getAdoptKind()}"></h5>
                        <p th:text="${adopt.getAdoptWeight()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptCareNm()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptCareAddr()}" class="card-text"></p>
                        <p th:text="${adopt.getAdoptEdt()}" class="card-text"></p>
                    </div>
                </a>
            </div>
        </article>
        <div th:with="start=${(adoptList.number / maxPage) * maxPage + 1},
            end=${(adoptList.totalPages == 0 ? 1 :
            (start + (maxPage - 1) < adoptList.totalPages ? start + (maxPage - 1):
            adoptList.totalPages))}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${adoptList.first} ? 'disabled'">
                    <a th:onclick="'javascript: page(' + ${adoptList.number -1} + ')'" aria-label="Previous" class="page-link">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                    th:classappend="${adoptList.number eq page -1}? 'active' : ''">
                    <a th:onclick="'javascript: page(' +${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]
                    </a>
                </li>
                <li class="page-item" th:classappend="${adoptList.last} ? 'disabled'">
                    <a th:onclick="'javascript: page(' + ${adoptList.number +1} + ')'" aria-label="Next" class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="form-inline justify-content-center" th:object="${adoptSearchDTO}">
            <select th:field="*{searchDescOrAsc}" class="form-control" id="searchDescOrAsc" style="width: auto;">
                <option value="asc">오름차순</option>
                <option value="desc">내림차순</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" id="searchBy" style="width: auto;">
                <option value="kind">견종</option>
                <option value="careName">보호소</option>
                <option value="careAddr">주소</option>
            </select>
            <input th:field="*{searchQuery}" class="form-control" id="searchQuery" placeholder="검색어">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>
</html>