<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-link active position-absolute start-50 translate-middle-x fs-2 fw-bold" aria-current="page" href="/dadog/main">DaDog</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/dadog/shelter">보호소지도</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dadog/adopt/list">입양하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dadog/lost/list">실종신고</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dadog/protect/list">보호중</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">자유게시판</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item mx-3"
              sec:authorize="isAnonymous()">
            <a class="nav-link" href="/dadog/login">로그인</a>
          </li>
          <li class="nav-item mx-3"
              sec:authorize="isAnonymous()">
            <a class="nav-link" href="/dadog/members/new">회원가입</a>
          </li>
          <li class="nav-item mx-3"
              sec:authorize="isAuthenticated()">
            <a class="nav-link" href="http://localhost:8082/dadog/wishList">찜목록</a>
          </li>
          <li class="nav-item mx-3"
              sec:authorize="isAuthenticated()">
            <a class="nav-link" href="http://localhost:8082/dadog/myPage">마이페이지</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" class="d-inline">
              <button type="submit" class="nav-link btn btn-link">로그아웃</button>
            </form>
          </li>
        </ul>
      </div>
      <div class="position-absolute end-0">
      </div>
    </div>
  </nav>
</div>
</html>
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Dropdown link-->
<!--            </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--            </ul>-->
<!--          </li>-->