<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(() => {
      $('#searchBtn').on("click",(e) => {
        e.preventDefault();
        page(0)
      });
    });
    function page(page){
      const searchBy = $("#searchBy").val();
      const searchQuery = $("#searchQuery").val();

      location.href="/dadog/lost/list/" + page + "?searchBy=" + searchBy + "&searchQuery=" + searchQuery;
    }

    function addLost(){
      location.href="/dadog/lost/add";
    }
  </script>
</th:block>

<th:block layout:fragment="css">
  <style>
    h1{
      text-align: center;
    }
    ul{
      text-decoration-line: none;
    }
    .mainBody {
      padding-left: 10%;
      padding-right: 10%;
    }
    .card-img{
      height: 250px;
      object-fit: cover;
    }
    .truncate {
      white-space: nowrap; /* 텍스트를 한 줄로 표시 */
      overflow: hidden; /* 넘치는 부분 숨기기 */
      text-overflow: ellipsis; /* 넘치는 부분을 "..."으로 표시 */
    }
  </style>
</th:block>
<div layout:fragment="mainContent">
  <form th:action="@{'/dadog/lost/get/' + ${lostList.number}}" role="form" method="get" th:object="${lostList}">
    <div class="col-sm-8 pt-5 pb-2 mx-auto ">
      <h1 class="display-5 medium mb-3 d-flex">실종신고</h1>
      <hr class="mb-5">
      <p class="fs-5 regular">※ 실종신고는 <a href="/dadog/login" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">로그인</a> 후 이용 가능합니다.</p>
      <p class="fs-5 regular mb-5">※ 이 메뉴는 동물을 빨리 찾을 수 있도록 실종 관련 정보를 공유하는 공간입니다</p>
      <hr>
    </div>
    <div class="form-inline justify-content-center align-middle col-lg-8 mx-auto mb-5 border rounded border-dark-subtle" th:object="${lostSearchDTO}">
      <div class="row justify-content-center">
        <div class="col-auto mb-4 mt-4">
      <select th:field="*{searchBy}" class="form-control border-dark" id="searchBy" style="width: auto;">
        <option value="kind">견종</option>
        <option value="title">제목</option>
        <option value="detail">글 내용</option>
        <option value="place">실종장소</option>
      </select>
        </div>
        <div class="col-auto mb-4 mt-4">
      <input th:field="*{searchQuery}" class="form-control border-dark" id="searchQuery" placeholder="검색어">
        </div>
        <div class="col-auto mb-4 mt-4">
      <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
        <div class="col-auto mb-4 mt-4 border-dark">
      <button class="btn btn-outline-dark" type="button" onclick="addLost()">
        글쓰기
      </button>
        </div>
      </div>
    </div>
    <div class="container">
      <article class="mainBody py-3 px-2 px-md-3 px-lg-5">
        <div class="row">
          <div th:each="lost : ${lostList.getContent()}" class="col-6 col-md-4 col-lg-3 mb-4">
            <a th:href="'/dadog/lost/get/' + ${lost.getLostNo()}" class="text-dark link-underline link-underline-opacity-0">
              <div class="card" style="max-width: 250px;">
                <img th:src="${lost.getLostImgUrl()}" th:alt="사진" class="card-img" width="250" />
                <div class="card-body">
                  <h5 class="card-title truncate fw-bolder mb-4" th:text="${lost.getLostTitle()}"></h5>
                  <p th:text="'견종 : '+ ${lost.getLostKind()}" class="card-text mb-1"></p>
                  <p th:text="'Tel : ' + ${lost.getLostTel()}" class="card-text mb-1"></p>
                  <p th:text="'실종장소 : ' +${lost.getLostPlace()}" class="card-text mb-1"></p>
                  <p th:text="'실종날짜 : ' + ${lost.getLostDate()}" class="card-text"></p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </article>
    </div>
    <div th:with="start=${(lostList.number / maxPage) * maxPage + 1},
            end=${(lostList.totalPages == 0 ? 1 :
            (start + (maxPage - 1) < lostList.totalPages ? start + (maxPage - 1):
            lostList.totalPages))}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${lostList.first} ? 'disabled d-none'">
          <a th:onclick="'javascript: page(' + ${lostList.number -1} + ')'" aria-label="Previous" class="page-link">
            <span aria-hidden="true">Previous</span>
          </a>
        </li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
            th:classappend="${lostList.number eq page -1}? 'active' : ''">
          <a th:onclick="'javascript: page(' +${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]
          </a>
        </li>
        <li class="page-item" th:classappend="${lostList.last} ? 'disabled d-none'">
          <a th:onclick="'javascript: page(' + ${lostList.number +1} + ')'" aria-label="Next" class="page-link">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
      </ul>
    </div>
  </form>
</div>
</html>