<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
  <script th:inline="javascript">
    function goModify(button){
      let lostNo = button.getAttribute('data-id');
      location.href = '/dadog/lost/update/' + lostNo;
    }
  </script>
</th:block>

<div layout:fragment="mainContent">
  <input type="hidden" id="adopt_no" th:value="${lost.getLostNo()}">
  <!-- Adopt 상세 위치-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center  justify-content-center">
        <div class="col-md-5"><img class="card-img-top mb-5 mb-md-0" th:src="${lost.getLostImgUrl()}" th:alt="${lost.getLostNo()}" style="max-height: 450px;" /></div>
        <div class="col-md-5">
          <div class="small mb-1" th:text="'작성자 :' +  ${lost.getLostWriter()}"></div>
          <h4 class="display-5 fw-bolder fs-2">제목 </h4> <span class="fs-4 display-5" th:text="${lost.getLostTitle()}"></span>
          <div class="form-control mt-5 p-4">
          <p><span class="display-5 fw-bolder fs-5">견종 : </span>  <span class="fs-5 display-5" th:text="${lost.getLostKind()}"></span></p>
          <p><span class="display-5 fw-bolder fs-5">전화번호 : </span>  <span class="fs-5 display-5" th:text="${lost.getLostTel()}"></span></p>
          <p><span class="display-5 fw-bolder fs-5">실종장소 : </span>  <span class="fs-5 display-5" th:text="${lost.getLostPlace()}"></span></p>
          <p><span class="display-5 fw-bolder fs-5">실종날짜 : </span>  <span class="fs-5 display-5" th:text="${lost.getLostDate()}"></span></p>
            <div th:if="${#strings.equals(userId, lost.getLostWriter())}" class="d-flex flex-row-reverse">
              <button class="btn btn-outline-dark" th:data-id="${lost.getLostNo()}" type="button" onclick="goModify(this)">
                수정
              </button>
            </div>
          </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="form-group mt-3">
          <label for="lostDetail" class="display-5 fw-bolder fs-5 mb-3 px-2">상세정보</label>
          <div class="form-control p-3" id="lostDetail" th:text="${lost.getLostDetail()}"></div>
        </div>
      </div>
    </div>
  </section>
</div>
</html>
