<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="mainContent">
  <h1>환영합니다!</h1>
  <p></p>
</div>










<!--<div th:if="${message}" class="alert alert-success" role="alert">-->
<!--  <span th:text="${message}"></span>-->
<!--</div>-->

<!--<div th:if="${session.message}" class="alert alert-info">-->
<!--  <span th:text="${session.message}"></span>-->
<!--  <th:block th:text="${#session.removeAttribute('message')}"/>-->
<!--</div>-->



</html>